$font_color: blue;
$font_family: Arial, sans-serif;
$font_size: 16px;
$line_height: percentage(20px / $font_size);

body {
    color: $font_color;
  
    font: {
      size: $font_size;
      family: $font_family;
    }
  
    line-height: $line_height;
}

.demo {
  width: 100px;
  height: 100px;
  background-color:grey;
  display:inline-block;
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}