<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <div id="app">
      <h1 v-once>{{title}}</h1>      
      <p>{{sayHello()}}</p>
      <a :href="link">링크</a>
      <p v-html="aLinkToMedium"></p>
      {{number}}
      <button v-on:click="rollDice">주사위 던지기</button>
      <br><br>
      {{count}}
      <button v-on:click="count++">count 1씩 더하기</button>
      <br><br>
      <button v-on:dblclick="doubleClick()">더블 클릭</button>
      <div v-on:mousemove="addCount()">MouseMove 테스트
        <span v-on:mousemove.stop="">그만</span>
      </div>

      <input type="text" v-model="name">
      {{ name }}

      <br><br>

      <template v-if="dog">
        <p>TRUE</p>
      </template>
      <template v-else>
        <p v-show="dog">FALSE</p>
        <p>FALSE</p>
      </template>
      <button v-on:click="dog = !dog">Change</button>
      <br><br>

      <h1>장 볼 리스트</h1>
      <ul>
        <li v-for="(item, i) in list">{{ item }}({{ i }})</li>
      </ul>

      <br><br>
      <h1>여행지 리스트</h1>
      <ul>
        <li v-for="city in travelList" :key="city.name">
          {{city.name}} - {{city.distance}}
        </li>
      </ul>

      <br><br>
      <div class="demo" @click="attachRed = !attachRed" :class="{red: attachRed, green: !attachRed}" class="demo">1</div>
      <div class="demo" :class="color">2</div>
      <div class="demo" :class="divClasses">3</div>

      <div>
        2번 상자의 색: <input type="text" v-model="color">
      </div>


      {{text}}

    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          title: "안녕 VueJS!",
          link: "https:/medium.com",
          aLinkToMedium: "<a href='http://medium.com'>링크</a>",
          number: 0,
          count: 0,
          name: "Hoza",
          dog: true,
          list: ['소갈비', '감자', '당근', '무','깐 밤', '소갈비찜 양념'],
          travelList: [
            { name: '강릉', distance: '차로 3시간' },
            { name: '부산', distance: '차로 5시간' },
            { name: '춘천', distance: '차로 2시간' },
            { name: '대만', distance: '비행기로 3시간' },
            { name: '필리핀', distance: '비행기로 5시간' },
            { name: '스페인', distance: '비행기로 17시간' },
          ],
          attachRed: false,
          color:'green',
          text: "변경 전입니다.",
        },
        watch: {
          count(newVal, oldVal) {
            this.text = oldVal + "에서 " + newVal + "로 변경되었습니다."
          }
        },
        methods: {
          sayHello() {
            this.title = "안녕하십니까!";
            return this.title;
          },

          rollDice() {
            let N = Math.floor(Math.random() * (6)) + 1;
            this.number = N;
          },

          addCount() {
            this.count++;
          },
          
          doubleClick() {
            console.log("더블 클릭");
          },    
        },
        computed: {
          divClasses: function () {
            return {
              red: this.attachRed,
              green: !this.attachRed
            }
          }
        }

    
      })
    </script>
  </body>
</html>